.header {
	background-image: url(img/all.jpg);
	width: 100%;
	height: 800px;
	background-repeat: no-repeat;
	background-size: 100% ;
}
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.menu-main {
  list-style: none;
  padding: 25px 0 5px;
  text-align:right;
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  color: #f3ecde;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Cambria', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: -15% -0% 0 30px;
  font-size: 180%;

  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #f3ecde;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 25px 0 20px; 
  margin: 0 30px;
}
}
.btn {
width: 25%;
height: 68px;
background-color: #090909;
border: 1.87px solid #f3ecde;
font-size: 225%;
color: #f3ecde;
font-family: "Cambria";
text-align: center;
margin-top: 30%;
margin-left: 11%;
}
.about {
	width: 100%;
	height: 45em;
	border-radius: 3px;
	background-color: #090909;
	border: 1px solid #f5f9fc;
	margin-top: -8em;
}
hr,    
hr:before,
hr:after {
    content: "";
    background: #BFE2FF;
    display: block;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    position: absolute;
    animation: anim-hr 6s linear infinite;
    border: 0;
    overflow: visible;
}
hr:before {
    left: -32px;
}
hr:after {
    left: 32px;
}
hr {
    position: relative;
    margin: 30px auto;
}
@keyframes anim-hr {
    0% {
        background:  #f3ecde;
    }
    50% {
        background: #f5f9fc;
    }  
    100% {
        background:  #f3ecde;
    }
}
h1 {
color: #f3ecde;
font-family: "Cambria";
text-align: center;
letter-spacing: 0.1em;
}
img {
	width: 40em;
	height: 23.125em;
	margin-left: 4.375em;
	margin-top: 4.625em;
	float: left;
}
.p {
	font-size: 1.25em;
color: #f3ecde;
font-family: "Cambria";
text-align: center;
margin-left: 38.375em;
margin-right: 1.7em;
margin-top: 4em;
}
.usluga {
	
	height: 40em;
	border-radius: 3px;
background-color: #2d2e2d;
border: 1px solid #f5f9fc;
padding: 0.313em;
}
.row {
    margin-right: -10px;
    margin-left: 70px;
    float: left;
}
.row:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.col-md-3, .col-sm-6 {
	position: relative;
    min-height: 0.063em;
    padding-right: 15px;
    padding-left: 15px;
    display: inline-block;
    width: 16.875em;
}
.service-single {
    text-align: center;
}
.service-single .icon-box-outer {
    padding: 12px;
    background: #fff;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin: 0 auto 30px;
}
.service-single .icon-box {
    background: #fff;
    width: 10.938em;
    height: 9.75em;
    border-radius: 50%;
    padding-top: 1.5em;
    border: 2px solid black;
    position: relative;
}
.service-single h3 {
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    font-size: 22 px;
    margin-bottom: 14px;
}
.service-single p {
    color: white;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
}
p {
    margin: 0 0 10px;
}
.service-single h5 {
    font-size: 20px;
    display: inline-block;
    background:#f3ecde;
    text-transform: uppercase;
    padding: 14px 20px 10px;
    color: black;
    margin-top: 10px;
}
@media (min-width: 992px)
.col-md-3 {
    width: 25%;
}
@media (min-width: 992px)
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}
@media (min-width: 768px)
.col-sm-6 {
    width: 50%;
}
@media (min-width: 768px)
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
}
.service-single {
    text-align: center;
}
.service{
	background: #111010;
	padding: 100px 0;
}
.icon {
	width: 5em;
	height: 5em;
	margin-top: 2em;
	margin-left: 3em;
}
.price {
	
	height: 40em;
	border-radius: 3px;
background-color: black;
border: 1px solid #f5f9fc;
padding: 0.313em;
}
.row.no-pad {
    margin-right: 0;
    margin-left: 0;
}
.row.no-pad > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}
@media (min-width: 992px)
.col-md-6 {
    width: 50%;
}
.store-image {
    padding: 20px;
    
}
img {
    max-width: 100%;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
.price-list {
    width: 36em;
    margin-left: 36em;
    margin-bottom: 1em;
}
.price-item {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.1em;
    display: table-cell;
    white-space: nowrap;
    width: 10%;
    padding-right: 4px;
}
.price-line {
    display: table-cell;
    border-bottom: 1px dashed #fff;
    position: relative;
    bottom: 4px;
}
.price-amount {
    text-align: right;
    display: table-cell;
    font-size: 20px;
    color: #fff;
    letter-spacing: 0.1em;
    white-space: nowrap;
    width: 5%;
    padding-left: 4px;
}
@media (min-width: 992px)
.col-md-12 {
    width: 100%;
}
.about-desc {
    margin-top: 80px;
}
.about-desc p, .about-desc ul li {
    color: #fff;
    text-align: left;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.8em;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
.about-desc ul li {
    color: #fff;
    text-align: left;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.8em;
}
::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}
.row:after {
    clear: both;
}
.prs{
    width: 27em;
    height: 18em;
    margin-top: 4em;
}
.contact {
	
    height: 37.5em;
    background-color: #2d2e2d;
    margin-top: -2em;
    /* padding: 3em 0 3em 3em; */
    padding-right: 0em;
    padding-bottom: 3em;
    padding-top: 3em;
    padding-left: 1em;
}
.nom {
	width: 30em;
}
.btn_1 {
    width: 14.938em;
    height: 3.75em;
    background-color: black;
    color: #f3ecde;
    font-family: "Cambria";
    text-align: center;
    border: 1.87px solid #f3ecde;
    margin-left: 11em;
    margin-top: 1em;
}
.banner-info-single {
    padding-left: 20px;
    margin: 15px 0;
}
.banner-info-single {
    background: rgba(243,236,222);
   
    position: relative;
    z-index: 1;
    padding-left: 80px;
    margin: 30px 0;
}
.face1 {
	width: 5em;
    height: 5em;
    margin-top: 0em;
}
.inst {
	width: 4.6em;
    height: 4.6em;
    margin-top: 0.3em;
}
.faace {
	width: 12em;
    height: 5em;
    text-align: center;
    
    margin-left: 10em;
}
.map {

  
    margin-top: -30em;
    margin-left: 35em
}